{% extends 'base.html.twig' %}

{% block title %}Hello TableController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<center>

<table style="border: 1px solid {{color}} ; color: {{color}};">

{# {% dump(calculations) %} #}
{% for calculation in calculations %}
 <tr><td><th>{{calculation.indice}} x {{id}} = {{ calculation.result }} </th> </td> </tr>
{% endfor %}

</table>

</center>

{% endblock %}

